.themeToggle {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 3vh;
  border: 1px solid transparent;

  color: var(--text-color);
  &:hover {
    border: 1px solid var(--button-hover-border-color);
  }
}
.themeToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
