.navbar {
  height: 8vh;
  width: 100%;
  background-color: var(--navbar-background);
  box-shadow: 0 0.4vh 0.6vh #1b1a41;
  position: fixed;
  z-index: 1050;
}

.container {
  @media (min-width: 64vw) {
    padding: 0 1.5vw;
  }

  @media (min-width: 102vw) {
    padding: 0 2vw;
  }
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: relative;
}

.themeButton {
  margin-left: auto;
  padding-right: 2vw;
}

.main-content {
  padding-top: 8vh;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;

  .logoWrapper {
    position: relative;
    display: inline-block;
  }

  .logo {
    height: 4vh;
    width: 4vh;
    margin-right: 1vw;
    rotate: -15deg;
    transition: transform 1.5s ease-in-out;
  }

  .hoverArea {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background: transparent;
    z-index: 2;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .left:hover ~ .logo {
    transform: rotate(-360deg);
  }

  .right:hover ~ .logo {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 2.5vh;
  font-weight: 600;
  color: var(--title-color);
}

.messageWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
