.formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 0%;
  width: 100%;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;

    .inputWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 0.1vw solid gray;
      transition: border-color 0.25s ease;

      &:focus-within,
      &:hover {
        border-bottom-color: var(--input-border-hover-color);
      }
    }
  }
}

.input {
  flex: 1;
  height: 5vh;
  width: 20vw;
  padding: 0 1vw;
  font-size: 2vh;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.25s ease;

  &:hover {
    color: var(--text-hover);
  }

  &:focus {
    color: var(--text);
  }
}

.addTodoButton {
  background-color: transparent;
  border: none;
  padding: 0 1vw;
  height: 5vh;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: color 0.25s ease;

  &:hover .addText,
  &:focus .addText {
    text-shadow: var(--add-button-text-shadow);
  }
}

.addText {
  font-weight: 500;
  transition: text-shadow 0.5s ease;
}
