.todo_container {
  display: flex;
  position: absolute;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  top: 30%;
}

.todo_list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

button {
  padding: 1.2vw;
}
