.dark {
  /* === Базовые цвета UI === */
  --background: 0 0% 6.9;
  --toast-background: 0 0% 5.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 100% 50.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
  --eye-color: hsl(0 0% 98%);
  --eye-color-muted: hsl(0 0% 63.9%);
  --eye-shadow: 0 0 3px rgba(255, 255, 255, 0.3);

  /* === Loader === */
  --loader-dot-color: #ffffff;

  /* === Навбар === */
  --navbar-background: rgb(15, 15, 15);
  --title-color: #ffffff;

  /* === Add Todo === */
  --input-border-hover-color: #ffffff;
  --add-button-text-shadow:
    0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.4),
    0 0 15px rgba(255, 255, 255, 0.3);

  /* === Todo Item === */
  --todo-item-background: #6b6b6b0c;
  --todo-item-completed-color: gray;

  --delete-button-text: #ddd;

  --checkbox-color: #ffffff;
  --checkbox-background: #a7a7a7;
  --checkbox-border: #000000;
  --checkbox-checked-background: #282828;
  --checkbox-box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.6);

  /* === Page Button === */
  --page-button-background: #1c1c1c82;
  --page-button-background-hover: #c0c0c0;
  --page-button-background-active: #ffffff;

  --page-button-text: #1e1e28;
  --page-button-text-hover: #1e1e28;
  --page-button-text-active: #000000;

  /* === Модальные окна === */
  --modal-background: #111111;
  --modal-textarea-hover-shadow: inset 0 0 8px #090909;
  --modal-textarea-focus-shadow: inset 0 0 8px #ffffff4b;
  --modal-overlay-background: 30, 30, 30;
  --textarea-background: #111111;
  --textarea-focus-background: #111111;
  --text-placeholder-color: #777a8b;
  --icon-color: #bbb;
  --icon-hover-color: #ffffff;
  --icon-hover-background: #3b3b3b;
  --modal-save-button-text: #1e1e28;
  --modal-save-button-hover-text: #ffffff;
  --modal-save-button-background: #ededed; /* ебебеб */
  --modal-save-button-hover-background: #161719;
  --modal-save-button-shadow: 0 0 4px rgb(255, 255, 255);
  --modal-delete-button-text: #ddd;
  --modal-delete-button-hover-text: #1e1e28;
  --modal-delete-button-background: #111111;
  --modal-delete-button-hover-background: #ffffff;
  --modal-delete-button-shadow: 0 0 4px rgb(0, 0, 0);
}
