:root {
  /* === Базовые цвета UI === */
  --background: 0 0% 100%;
  --toast-background: 100 100% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --eye-color: hsl(0 0% 9%);
  --eye-color-muted: hsl(0 0% 45.1%);
  --eye-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

  /* === Loader === */
  --loader-dot-color: #000000;

  /* === Навбар === */
  --navbar-background: #ffffff;
  --title-color: #000000;

  /* === Add Todo === */
  --input-border-hover-color: #000000;
  --add-button-text-shadow:
    0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 15px rgba(0, 0, 0, 0.3);

  /* === Todo Item === */
  --todo-item-background: #6b6b6b0c;
  --todo-item-completed-color: gray;

  --delete-button-text: #1c1c1c82;

  --checkbox-color: #000000;
  --checkbox-background: #a7a7a7;
  --checkbox-border: #d7d7d7;
  --checkbox-checked-background: #acacac;
  --checkbox-box-shadow: 0 0 8px 3px rgba(12, 12, 12, 0.6);

  /* === Page Button === */
  --page-button-background: #f1f1f182;
  --page-button-background-hover: #c0c0c0;
  --page-button-background-active: #b3b3b3;

  --page-button-text: #1e1e28;
  --page-button-text-hover: #1e1e28;
  --page-button-text-active: #ffffff;

  /* === Модальные окна === */
  --modal-background: #e3e3e3;
  --modal-textarea-hover-shadow: inset 0 0 8px #090909;
  --modal-textarea-focus-shadow: inset 0 0 8px #ffffff4b;
  --modal-overlay-background: 30, 30, 30;
  --textarea-background: #e3e3e3;
  --textarea-focus-background: #ffffff;
  --text-placeholder-color: #777a8b;
  --icon-color: #bbb;
  --icon-hover-color: #ffffff;
  --icon-hover-background: #c2c2c2;
  --modal-save-button-text: #fff;
  --modal-save-button-hover-text: #000000;
  --modal-save-button-background: #000000;
  --modal-save-button-hover-background: #ffffff;
  --modal-save-button-shadow: 0 0 4px rgb(0, 0, 0);
  --modal-delete-button-text: #000000;
  --modal-delete-button-hover-text: #ffffff;
  --modal-delete-button-background: #ededed;
  --modal-delete-button-hover-background: #161719;
  --modal-delete-button-shadow: 0 0 4px rgb(255, 255, 255);
}
