.overflowMessage {
  display: flex;
  position: absolute;
  color: #ff4d4f;
  top: -5vh;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  width: 30vw;
  z-index: 1001;
  transition: color 0.25s ease;
  animation: fadeColor 0.25s ease-out forwards;

  &.modalVisible {
    top: -15vh;
  }
}

@keyframes fadeColor {
  0% {
    color: #ffeff0;
  }
  100% {
    color: #ff4d4f;
  }
}
