.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 80vw;
  height: 50px;
  max-width: 100%;
  background-color: var(--todo-item-background);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.08);

  .custom_checkbox {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-left: 10px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--checkbox-background);
    border: 2px solid var(--checkbox-border);
    transition:
      box-shadow 0.25s ease-in,
      opacity 0.25s ease;
    outline: none;

    &:hover {
      box-shadow: var(--checkbox-box-shadow);
      opacity: 0.8;
      transition:
        box-shadow 0.25s ease-out,
        opacity 0.25s ease;
    }

    &:not(:hover) {
      transition:
        box-shadow 0.5s ease-in,
        opacity 0.5s ease;
    }

    &:checked {
      background-color: var(--checkbox-checked-background);

      &::before {
        content: '✓';
        position: absolute;
        font-size: 1rem;
        color: var(--checkbox-color);
      }
    }
  }

  .title {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color 0.3s;
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    color: var(--text);

    &.completed,
    &.completed span {
      text-decoration: line-through;
      color: var(--todo-item-completed-color);
    }
  }

  .deleteButton {
    width: 48px;
    height: 100%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--delete-button-text);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.2s ease;

    svg {
      pointer-events: none;
    }

    &:hover {
      background-color: var(--delete-button-background);
      box-shadow: 0 0 6px var(--delete-button-text);
      border-color: var(--button-hover-border-color);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
