.overflowMessage {
  padding: 0.6vh 1vw;
  background-color: #781a1a27;
  color: #ff0000;
  border-radius: 1vh;
  transition: color 0.3s ease;
  white-space: nowrap;
  text-align: center;
  font-size: 2vh;
  max-width: 100%;
  overflow: hidden;
}

.animate {
  animation: fadeColor 0.25s ease-out;
}

@keyframes fadeColor {
  0% {
    color: #ffeff0;
  }
  100% {
    color: #ff4d4f;
  }
}
