/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/shared/lib/getAnimatedText/getAnimatedText.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes getAnimatedText_bounce__CPh21 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1px);
  }
}
.getAnimatedText_animatedLetter__MCkTn {
  display: inline-block;
  animation: getAnimatedText_bounce__CPh21 1s infinite ease-in-out;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/ModalCard/modalCard.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modalCard_modal_overlay__VGe8S {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modalCard_modal_content__ywq5u {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
  padding: 2rem;
  padding-right: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: calc(90% - 98px);
  width: 864px;
  opacity: 0.9;
}

.modalCard_textarea_container__VTCB2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.modalCard_textarea__hC7yA {
  display: flex;
  width: 90%;
  height: 80%;
  left: 0%;
  background-color: var(--background-modal-input-color);
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  resize: none;
  overflow-wrap: break-word;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modalCard_textarea__hC7yA::-webkit-scrollbar {
  display: none;
}

.modalCard_textarea__hC7yA::placeholder {
  color: var(--text-placeholder-color);
  font-style: italic;
}

.modalCard_limit_hint__xmhAD {
  position: fixed;
  bottom: 0%;
  left: 10px;
  font-size: 0.8rem;
  color: var(--text-limit-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalCard_visible__wOny5 {
  opacity: 1;
}

.modalCard_close_button__vGQOa {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCard_modal_button_container__ZD9UK {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 10%;
  bottom: 0px;
}

.modalCard_modal_save_button__x8UL2 {
  position: relative;
  right: 13%;
  border: 0.1px solid transparent;
}

.modalCard_modal_delete_button__GsUrX {
  position: relative;
  left: 3%;
  border: 0.1px solid transparent;
}

@media (max-width: 640px) {
  .modalCard_modal_content__ywq5u {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .modalCard_textarea__hC7yA {
    width: 100%;
    height: 100%;
  }
  .modalCard_modal_save_button__x8UL2 {
    right: 3%;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/ModalCard/ModalCard.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ModalCard_modal_overlay__XPb2t {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.ModalCard_modal_content__S4VFU {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
  padding: 2rem;
  padding-right: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: calc(90% - 98px);
  width: 864px;
  opacity: 0.9;
}

.ModalCard_textarea_container__Nv2jo {
  position: relative;
  width: 100%;
  height: 100%;
}

.ModalCard_textarea__CAWzN {
  display: flex;
  width: 90%;
  height: 80%;
  left: 0%;
  background-color: var(--background-modal-input-color);
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  resize: none;
  overflow-wrap: break-word;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ModalCard_textarea__CAWzN::-webkit-scrollbar {
  display: none;
}

.ModalCard_textarea__CAWzN::placeholder {
  color: var(--text-placeholder-color);
  font-style: italic;
}

.ModalCard_limit_hint__uDqo6 {
  position: fixed;
  bottom: 0%;
  left: 10px;
  font-size: 0.8rem;
  color: var(--text-limit-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ModalCard_visible__GQmuY {
  opacity: 1;
}

.ModalCard_close_button__RIDqd {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalCard_modal_button_container__KFufR {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 10%;
  bottom: 0px;
}

.ModalCard_modal_save_button__eGtMa {
  position: relative;
  right: 13%;
  border: 0.1px solid transparent;
}

.ModalCard_modal_delete_button__gfkTM {
  position: relative;
  left: 3%;
  border: 0.1px solid transparent;
}

@media (max-width: 640px) {
  .ModalCard_modal_content__S4VFU {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .ModalCard_textarea__CAWzN {
    width: 100%;
    height: 100%;
  }
  .ModalCard_modal_save_button__eGtMa {
    right: 3%;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/TodoItem/todoItem.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.todoItem_todoItem__0inmG {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 80vw;
  height: 50px;
  max-width: 100%;
  background-color: var(--todo_item-background);
}
.todoItem_todoItem__0inmG .todoItem_custom_checkbox__LXDnE {
  appearance: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--custom_checkbox-background);
  border: 1px solid var(--custom_checkbox-border);
}
.todoItem_todoItem__0inmG .todoItem_custom_checkbox__LXDnE:checked {
  background-color: var(--custom_checkbox-checked-background);
}
.todoItem_todoItem__0inmG .todoItem_custom_checkbox__LXDnE:checked::before {
  content: "✓";
  position: absolute;
  font-size: 1rem;
  color: var(--custom_checkbox-color);
}
.todoItem_todoItem__0inmG .todoItem_custom_checkbox__LXDnE:hover {
  outline: 1px solid var(--custom_checkbox-outline-color);
  opacity: 50%;
}
.todoItem_todoItem__0inmG .todoItem_title__mquw_ {
  flex: 1;
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Скрываем текст, выходящий за границы */
  text-overflow: ellipsis; /* Добавляем многоточие */
  transition: color 0.3s;
  font-size: 1.2rem;
  margin: 0;
  cursor: pointer;
  color: var(--text-color);
}
.todoItem_todoItem__0inmG .todoItem_title__mquw_.todoItem_completed__SWxbd, .todoItem_todoItem__0inmG .todoItem_title__mquw_.todoItem_completed__SWxbd span {
  text-decoration: line-through;
  color: var(--todo_item-completed-color);
}
.todoItem_todoItem__0inmG input[type=text] {
  flex: 1;
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
}
.todoItem_todoItem__0inmG input[type=text]:focus {
  border-color: var(--input-focus-border);
}
.todoItem_todoItem__0inmG .todoItem_deleteButton__JJxLW {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1rem;
  padding: 0.7rem;
  background-color: transparent;
  border: 0.1rem solid var(--delete_button-color);
  color: var(--delete_button-color);
}
.todoItem_todoItem__0inmG .todoItem_deleteButton__JJxLW:hover {
  border: 0.15rem solid var(--delete_button-color);
  background-color: var(--delete_button-background);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/Pagination/Pagination.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_pagination__s9QxL {
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4vh;
  gap: 0.3vw;
}

.Pagination_pageButton__asVws {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pagination-color);
  width: clamp(10px, 5vw, 50px);
  height: clamp(10px, 5vw, 50px);
  font-size: clamp(15px, 2vw, 1.1rem);
  padding: 0;
}
.Pagination_pageButton__asVws:hover {
  color: var(--button-hover-color);
  transition: color 0.3s;
}

.Pagination_active__LSfJF {
  color: var(--button-hover-color);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/TodoLoader/loader.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loader_loader_container__ab6GQ {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.loader_dot__slhPm {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  animation: loader_fadeInScale__VDAE4 1.5s infinite ease-in-out;
}

.loader_dark__FwAB7 {
  background-color: white;
}

.loader_light__oOMS_ {
  background-color: black;
}

.loader_dot__slhPm:nth-child(1) {
  animation-delay: 0s;
}

.loader_dot__slhPm:nth-child(2) {
  animation-delay: 0.2s;
}

.loader_dot__slhPm:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loader_fadeInScale__VDAE4 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/ErrorMessage/errorMessage.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.errorMessage_errorContainer__8Sskn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  text-align: center;
}

.errorMessage_errorIcon__au5pb {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  user-select: none;
  cursor: pointer;
}

.errorMessage_errorText__cLkqp {
  font-size: calc(1em + 0.5vw);
  font-weight: bold;
  color: var(--text-color);
}

@media (max-height: 314px) {
  .errorMessage_errorText__cLkqp {
    margin-top: 15px;
  }
}
@media (max-height: 235px) {
  .errorMessage_errorText__cLkqp {
    margin-top: 40px;
  }
}
@media (max-height: 188px) {
  .errorMessage_errorText__cLkqp {
    margin-top: 60px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/TodoList/todoList.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.todoList_page__Suky_ {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.todoList_todoContainer__aFox4 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.todoList_noTasks__mVGp8 {
  color: var(--noTasks);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/widgets/AddTodo/AddTodo.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AddTodo_formContainer__0Lbcy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 0%;
  width: 100%;
}
.AddTodo_formContainer__0Lbcy form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.AddTodo_input__JoXVL {
  width: 70%;
  height: 5vh;
  padding: 0 1vw;
  font-size: 1vw;
  transition: border 0.25s ease, color 0.25s ease;
  outline: none;
  color: var(--input-text-color);
  background-color: var(--input-color);
  border: var(--input-border-color) 0.1vw solid;
}
.AddTodo_input__JoXVL:hover {
  border: var(--input-border-hover-color) 0.1vw solid;
  color: var(--input-hover-color);
}
.AddTodo_input__JoXVL:focus {
  color: var(--text-color);
}

.AddTodo_addTodoButton___lxgv {
  display: flex;
  height: 5vh;
  font-size: 2.5vh;
  background-color: var(--addTodoButton-background);
  border: var(--input-border-color) 0.1vw solid;
  border-radius: 0;
  padding: 0 1vw;
  justify-content: center;
  align-items: center;
}
